<?xml version="1.0"?>
<launch>
  <!-- Play the ROS bag -->
  <node name="rosbag_player" pkg="rosbag" type="play" args="-r 2 --clock /home/julian/sam_real_algae.bag" />

  <!-- gps and buoy node -->
  <node name="gps_buoy_node" pkg="sam_dead_reckoning" type="algae_map_markers.py" output="screen" />
  
   <!-- Manual detector -->
  <node name="manual_detection_node" pkg="sss_object_detection" type="sss_detection_manual_publisher.py" output="screen" />
</launch>

